<div class="container text-center">
    <h1>About page</h1>
    <p>We are DevMatch. Our focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error nulla eos assumenda delectus perspiciatis laboriosam facilis quod quia enim optio dolores, ea aperiam nesciunt eligendi numquam soluta nostrum officia culpa!</p>
</div>